 
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800&amp;family=Raleway:wght@400;500;600;700;800;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@500;@600;800&family=Ultra&display=swap");
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@300;400;500;600;700;800|Playfair+Display');
body{
  overflow-x: hidden!important;
  /* height: 200vh; */
  position: relative;

}

/* navbar css */
.top-nav{
  width: 100%!important;
  background-color: green;
  height: 40px!important;
  color: white;
  text-align: right!important;
  
 
  
  

}
.top-nav-link{
  float: right;
  box-sizing: border-box;
  
  padding: 10px;
  margin: 0;
}
.navbar-nav .nav-link{
  color: green!important;
}
.navigation-wrap .nav-item a:hover{
  color: green!important;
  text-decoration: underline;
  
  
}
.navigation-wrap .nav-item{
  /* padding: 0 0.5rem; */
  transition:all ease-out  0.3s;
  -webkit-transition:all ease-out  0.3s;
  -moz-transition:all ease-out  0.3s;
  -ms-transition:all ease-out  0.3s;
  -o-transition:all ease-out  0.3s;
}
.navigation-wrap .nav-item a{
  font-size: 15px;
  font-weight: 500;
  color:   #1d2547;
}
.navigation-wrap{
  background-color: white!important;
 
  
  

}
.navigation-wrap.nav-link{
  line-height: 1.875rem;
}
  
.navigation-wrap .navbar-brand img{
  height: 4rem;
  margin-left:10% ;
}
.navbar-toggler:focus{
  outline: unset;
  border: unset;
  box-shadow: none;
  color: #0b9224!important;
  
}

@media (max-width: 700px) {
  .navigation-wrap{
    position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 0;
  z-index: 100;
  }
  .navigation-wrap .navbar-brand img{
    height: 3rem;
    margin-left:5% ;
  }

}
@media (min-width:800px) {
  .navigation-wrap .nav-item{
    padding: 1rem 0.5rem;
  }
 
  
}
#main-bar{
  
  width: 100%;
  top: 11.5%!important;
  margin-top: 10px!important;
  padding: 0;
  /* z-index: 1; */
  background-color: #004e0f!important;
}
#main-bar .navbar-nav .nav-link {
  color: rgb(241, 241, 241)!important;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
}
#main-bar .nav-item a:hover{
  color: rgb(148, 249, 148)!important;
  
  
  
}
#main-bar .navbar-nav {
  justify-content: center;
  /* border: 2px solid red; */
  width: 100%;
  background-color: #004e0f;

}
#main-bar .navbar-nav .nav-item  {
  left: 0!important;
  border-left: 1.5px dashed #99b110!important;
  
}
/* off canva navbar work */
.offcanvas{
  background-color:white!important;
  overflow-x: hidden!important;
 
  width:70%!important;
}
.offcanvas-header img{
  width: 70%;
}
.offcanvas-body{
  padding-left: 0;
}
.offcanvas-button button{


    width: 24px;
    text-align: center;
    font-size: large;
    color: #ffffff;
    cursor: pointer;
  
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
 transition: all 0.9s ease; 

}
.show .offcanvas-header .offcanvas-button button{
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);

}
.offcanva-ul-1{
  font-size: 15px;
  margin: 20px;
  
  color:#0b9224!important;
  list-style: none;
  width: 100%;
 margin-left: 0;
 font-weight:400;
 letter-spacing: .1rem;
}
.offcanva-ul-2{
  font-size: 20px;
  margin: 20px;
  background-color: #0b9224;
  color: white!important;
  list-style: none;
  width: 100%;
 margin-left: 0;
 font-weight:400;
 letter-spacing: .1rem;
}
.ul-form .form-control{
  width: 60%;
  margin-left: 30px;
  border:2px solid #0b9224;
}
.ul-form button{
  background-color: #0b9224!important;
  color: white;
  font-size:12px;
 margin-left:10px ;
 margin-bottom: 5px;
  
}
.ul-form button:hover{
  opacity: 0.9;
}

.offcanva-ul-2 hr{
  border: .1rem dashed #f6f488!important;
  width: 85%;
}

/* after navbar work  */

.first-heading{
  color: #000;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.35;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    
    text-transform: capitalize;
}


/*  banner css */

.banner-section{
  width: 100%;
  /* margin-top: 20px; */
  
}
.page-banner{
  height: 200px;
  background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/assets/img/gallery/back.png');
  background-size: cover;
  background-position: center -100px;
  padding-top: 50px!important  ;
  background-attachment: fixed;


}
.banner-text{
  color: white!important;
  font-size: 60px;
  font-weight:500;
  letter-spacing: 0.4rem;
  font-family: 'Eczar', serif;
}

@media (max-width:700px){
  .page-banner{
  /* background-position:center top!; */
  background-size:contain;
  height: 180px;
  
  }
}


/* footer css */

.footer{
 background-color: #004e0f;
 border: 2px solid;
}
  .footer-padding {
    padding-top: 50px;
    padding-bottom: 10px;
   
    
  }

  .footer-container{
    text-align: center;
  }

 .footer-row{
  padding: 0 5%;
  list-style: none;
  text-align: center;
  

 }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-padding {
      padding-top: 100px;
      padding-bottom: 20px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-padding {
      padding-top: 80px;
      padding-bottom: 20px;
    }
  }
  @media (max-width: 575px) {
    .footer-padding {
      padding-top: 80px;
      padding-bottom: 20px;
    }
  }
  .footer-tittles {
    padding-top: 30px;
  }
  @media (max-width: 575px) {
    .footer-tittles {
      padding-top: 15px;
    }
  }
  .footer-tittles p {
    padding-bottom: 22px;
    color: #f4f4f4;
    font-size: 16px;
  }
  .footer-tittles h2 {
    font-size: 57px;
    font-weight: 400;
    font-size: 45px;
  }
  @media (max-width: 575px) {
    .footer-tittles h2 {
      font-size: 45px;
    }
  }
  @media (max-width: 575px) {
    .footer-tittles h2 {
      font-size: 33px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-wrapper {
      padding: 0;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-wrapper {
      padding: 0;
    }
  }
  @media (max-width: 575px) {
    .footer-wrapper {
      padding: 0;
    }
  }
  .footer-area .footer-pera p {
    color: #9da4ab;
    padding: 0;
    font-size: 16px;
    margin: 30px 0;
    line-height: 1.8;
    }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .footer-pera p {
      padding-right: 0px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .footer-pera p {
      padding-right: 0px;
    }
  }
  @media (max-width: 575px) {
    .footer-area .footer-pera p {
      padding-right: 0px;
    }
  }
  .footer-area .footer-tittle h4 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  .footer-area .footer-tittle ul li {
    list-style: none;
    margin-bottom: 15px;
  }
  .footer-area .footer-tittle ul li a {
    color: #9da4ab;
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline transparent;
  }
  .footer-area .footer-tittle ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }
  .footer-area .footer-tittle p {
    color: #9da4ab;
    font-size: 16px;
  }
  .footer-area .info.error {
    color: #fd8f5f;
  }
  .footer-bottom-area .footer-border {
    padding-top: 40px;
    padding-bottom: 1px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-bottom-area .footer-border {
      padding-top: 0;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-bottom-area .footer-border {
      padding-top: 0;
    }
  }
  @media (max-width: 575px) {
    .footer-bottom-area .footer-border {
      padding-top: 0;
    }
  }
  .footer-bottom-area .footer-copy-right p {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 12px i;
    margin-bottom-color: #fd8f5f;
  }
  .footer-bottom-area .footer-copy-right p a {
    color: #fd8f5f;
  }
  .footer-social a {
    color: #fd8f5f;
    background: rgba(103, 133, 255, 0.08);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
  }
  .footer-social a:hover {
    color: #fff;
    background: #fd8f5f;
  }
  .footer-social a i {
    display: inline-block;
  }

  /* back to top button css */
  #back-top {
    background: #0b9224;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
    color: #f4f4f4;
  }
  @media (max-width: 575px) {
    #back-top {
      right: 16px;
    }
  }
  #back-top a i {
    display: block;
    line-height: 50px;
  }
 



  
 

 


  
 

  /* our mentor area css */
 
   .team-area .single-team .team-img {
    position: relative;
    overflow: hidden;
  }
  .team-area .single-team .team-img img {
    width: 100%;
    border-radius: 10px;
  }
  .team-area .single-team .team-caption {
    width: 100%;
    padding-top: 30px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  
  .team-area .single-team .team-caption h3 {
    margin-bottom: 3px;
    line-height: 13px;
    font-family: "Muli", sans-serif;
  }
  .team-area .single-team .team-caption h3 a {
    color: #2c234d;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 12px;
    display: block;
  }
  .team-area .single-team .team-caption h3 a:hover {
    color: #fd8f5f;
  }
  .team-area .single-team .team-caption p {
    color: #2c234d;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  .team-area .single-team:hover .team-img .team-social {
    opacity: 1;
    visibility: visible;
  }
  .team-area .single-team:hover .team-img .team-social a {
    transform: translateY(6px);
    opacity: 1;
    visibility: visible;
  }
  .section-padding40 {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .section-tittle p {
    color: #1d2547;
  }
 
  .section-tittle h2 {
    font-size: 17px;
    display: block;
    color: #072366;
    font-weight: 700;
    text-transform: normal;
    line-height: 1.4;
  }


  .team-area .single-team .team-img {
    position: relative;
    overflow: hidden;
  }
  .team-area .single-team .team-img img {
    width: 100%;
    border-radius: 10px;
  }
  .team-area .single-team .team-caption {
    width: 100%;
    padding-top: 30px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .team-area .single-team .team-caption h3 {
    margin-bottom: 3px;
    line-height: 13px;
    font-family: "Muli", sans-serif;
  }
  .team-area .single-team .team-caption h3 a {
    color: #2c234d;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 12px;
    display: block;
  }
  .team-area .single-team .team-caption h3 a:hover {
    color: #fd8f5f;
  }
  .team-area .single-team .team-caption p {
    color: #2c234d;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  .team-area .single-team:hover .team-img .team-social {
    opacity: 1;
    visibility: visible;
  }
  .team-area .single-team:hover .team-img .team-social a {
    transform: translateY(6px);
    opacity: 1;
    visibility: visible;
  }
  .team-social {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(1, 10, 68, 0.5);
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .team-social li {
    display: inline-block;
  }
  .team-social li a {
    color: #fff;
    font-size: 14px;
    margin: 0 12px;
    display: inline-block;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    transform: translateY(60px);
    opacity: 1;
    visibility: visible;
  }
  .team-social li a:hover {
    color: #fd8f5f;
  }
  .team-social li a i {
    display: inline-block;
  }
  .team-social li:nth-child(1) a {
    transition-delay: 0s;
  }
  .team-social li:nth-child(2) a {
    transition-delay: 0.1s;
  }
  .team-social li:nth-child(3) a {
    transition-delay: 0.2s;
  }
  .team-social li:nth-child(4) a {
    transition-delay: 0.3s;
  } 

  /* owl card responsive */
  
  @media (max-width: 767px) {
    .social-card{
      width: 90%!important;
      
    
      margin: 5%!important;
     
     
    }
  }
  .owl-carousel {
    position: relative;
  }
  .owl-nav {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    height: 50px;
  }
    
  .owl-prev{
    left: -15px;
   
  }
  
  .owl-next{
    right: -15px;
  
  }
  .owl-prev,
  .owl-next {
    position: absolute;
   
  
  }
  
  .owl-prev span ,.owl-next span{
    
      font-size: 50px;
      font-weight: lighter;
      color: rgb(226, 224, 224);
     
}    
    .social-card{
    border: none;
    margin: 30px 0;
     
    }
    .mentorhead{
      font-family: "Muli", sans-serif!important;
    }

  /* about us page css */

  .about-container{
    padding: 0 10%;
  }
 
.emuinvent h1{
    color: #1d2547;
    display: block;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1px;
    
  font-family: 'Eczar', serif;
  
  font-style: italic;

}
.emuinvent p{
  line-height: 30px;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans';
  letter-spacing: .5px;
  font-weight: 300;
  color: #333333;
  
}

.emuinvent  img{
    height: 400px;
    width: 100%;
    border-radius: 1%;
    transition: 2ms;
    -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);

	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.emuinvent button ,.about-us-register-btn button{
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 25px;
  background-color: #004e0f;
}



.emuinvent img:hover {
  -webkit-filter: grayscale(80%) ;
	filter: grayscale(80%) ;
  -webkit-transform: scale(1.1);
	transform: scale(1.01);

}
.emuinvent .last-section  img{
    height: 550px;
    width: 100%;
}

@media (max-width:991px) {
    
    .emuinvent{
        margin-top: 103px;
        margin-bottom: 45px;
        /* width: 100%; */

    }
 
    .emuinvent h1{
        color: #1d2547;
        
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.8px;
    }
    .emuinvent p{
        font-size: 15px;
        line-height: 30px;
    }
    .emuinvent figure img{
        height: 300px;
        width: 100%;
    }
    .emuinvent li{
        font-size: 15px;
    }
 
    
}

/* main page event css */


.wrapper h1{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  max-width: 85rem!important;
  padding: auto;
}



.col{
  width: 100%;
  margin: 1rem;
  cursor: pointer;
}
.event-carousel-div{

 justify-content:center ;
  display: inline;
  padding-right:0.25rem;
  
}
@media (max-width:800px) {
  .event-carousel-div{
    width: 80%!important;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media (max-width:600px) {
  .col{
    width: 80%;
    
    cursor: pointer;
    margin: auto;
  }
 
  
}

.con1{
  -webkit-transform-style: preserve-3d!important;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
  
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.con1:hover .front,
.con1:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.con1 .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.con1 .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.con1:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.con1:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

/*  student page css */
.resources .yt-video iframe{
  height: 500px;
  width: 100%;
}
.resources-ul ul li p ,.resources-ul ul li {
  font-size: 20px;
  
}
.register{
  background-image: url("/assets/img/gallery/regkidback.png")!important;

 width: 100%;
 padding: 0;
 margin: 0;
 position: relative;

}
.kid-img{
  
  width: 320px;

  position: absolute;
  right: 2%; 
  top: -30%; 
}
.kid-img img{
  height: auto;
}
.register h2{
 
  font-size: 30px;
  font-weight:500;
  text-align: left;
  letter-spacing: 0.1rem;
  font-family: 'Eczar', serif;
}
.register p{
  font-size: 22px;
  text-align: left;

}
.reg-text{
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 60px;
  /* color: white; */
}
.register button {
  background-color: #000;
  color: white;
  border-color: #000;
  opacity: 0.9;
  font-size: medium;
  margin-top: 60px;

}
.register button:hover {
  color: white;
  background-color: #000;
  opacity: 1;
 
}
@media (max-width:600px){
  .resources .yt-video iframe{
    height: 300px;
    width: 100%;
  }
  .reg-text{
  margin: 0;
  font-size: small!important;
  
  }
  .reg-text p{
font-size: 15px;
text-align:center;
  }
  .reg-text h2{
    font-size:25px;
    text-align: center;

  }
  .register button{
    margin-bottom: 10px;
    margin-top: 10px;

}
.first-heading{
  font-size:40px;
}
}

/* our teachers page work */
.mentor-card{
  text-align: center;
  
  
}
.mentor-card-img{
margin: -1px -1px 30px -1px;
max-width: 100%;
height:300px;
vertical-align: middle;
}
.mentor-card-body{
  padding: 0 20px 30px 20px;
}
.mentor-card-body h4{
  font-size:xx-large;
  font-family: 'Muli', sans-serif;
}
.mentor-card-body span{
  font-size: larger;
  font-style: italic;
  font-family: sans-serif;
  line-height: 2px;
  letter-spacing: 1px;
}
.mentor-card-body p{
  font-size: 15px;
  font-style: italic;
  font-family:  'Muli' , sans-serif;
  line-height: 15px;
  letter-spacing: 1px;
  margin: 15px 5px;
  color: #9da4ab;
  justify-content: center;

}

.mentor-social a {
  color:#004e0f;
  background: rgba(103, 133, 255, 0.08);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
}
.mentor-social a:hover {
  color: #fff;
  background:#0b9224;
}
.mentor-social a i {
  display: inline-block;
}

/* about us page css */



/* .poster-discription {
  line-height: 30px;
  font-size: 20px;
} */